<!DOCTYPE HTML>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename = 'ico-SAI.png') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename = 'bootstrap@4.1.0.min.css') }}" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

        <title>Fake Groundstation</title>
    </head>

    <body>
        <header>
            <div class="jumbotron">
                <h1 class="display-4">Fake Groundstation</h1>
                <p class="lead">Send Commands to Payload</p>
                <hr class="my-4">
                <form id="emit">
                    <div class="row">
                        <div class="btn-toolbar">
                            <div class="btn-group mr-2">
                                <button class="btn btn-secondary" type="submit" name="cmd_N">
                                    28VDC Power On
                                </button>
                                
                                <button class="btn btn-secondary" type="submit" name="cmd_O">
                                    28VDC Power Off
                                </button>
                            </div>

                            <div class="input-group mr-2">
                                <input class="form-control" name="file" placeholder="File name" />
                                <button class="btn btn-secondary" type="submit" name="cmd_T">
                                    GET file
                                </button>

                                <input class="form-control" type="file" placeholder="Upload" xxdisabled />
                                <button class="btn btn-warning" type="submit" name="cmd_R" xxdisabled >
                                    PUT file
                                </button>
                            </div>

                            <div class="btn-group mr-2">
                                <button class="btn btn-secondary" type="submit" name="cmd_Xls">
                                    Execute (ls)
                                </button>
                                
                                <button class="btn btn-warning" type="submit" name="cmd_A">
                                    Abort
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="btn-toolbar">
                            <button class="btn btn-secondary mr-2" type="submit" name="cmd_D">
                                Data Streaming
                            </button>

                            <button class="btn btn-danger" type="submit" name="cmd_W">
                                Warmboot
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label class="control-label">Status: <span id="status"></span></label>

                            <label class="control-label">Response</label>

                            <ol id="response" reversed></ol>
                        </div>
                    </div>
                </form>
            </div>
        </header>

        <div class="container-fluid">
        </div>

        <script src="{{ url_for('static', filename = 'jquery@3.3.1.min.js'    ) }}"></script>
        <script src="{{ url_for('static', filename = 'socket.io@2.1.1.slim.js') }}"></script>
        <script src="{{ url_for('static', filename = 'ground2.js'             ) }}"></script>
    </body>
</html>
